@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:regular,600,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.block-header__sub-title::after, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-twitter:before {
  content: "\e902";
}

._icon-quote:before {
  content: "\e903";
}

._icon-select-arrow:before {
  content: "\e904";
}

._icon-spoon:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #aaa;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  transition: all 0.3s ease 0s;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #0C0B08;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 81.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 105rem;
}

.button {
  padding: 0.5rem 2rem;
  font-weight: 700;
  line-height: 175%;
  background-color: #DCCA87;
  color: #0C0B08;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #a39664;
  }
}
.button._fw {
  width: 100%;
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

.main-bg {
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 120%;
  background: url("../img/main-bg.jpg") center/cover no-repeat;
}

.block-header {
  text-transform: capitalize;
  display: grid;
  gap: 8px;
  justify-items: center;
}
.block-header__sub-title {
  color: #fff;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.04em;
  display: grid;
  gap: 8px;
  justify-items: center;
}
@supports (font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem )) {
  .block-header__sub-title {
    font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem );
  }
}
@supports not (font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem )) {
  .block-header__sub-title {
    font-size: calc(1.4375rem + 0 * (100vw - 20rem) / 63.125);
  }
}
.block-header__sub-title::after {
  content: "\e905";
  color: #DCCA87;
  font-size: 0.3913043478em;
}
.block-header__title {
  color: #DCCA87;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.04em;
}
@supports (font-size: clamp( 4rem , 4rem  +  0vw , 4rem )) {
  .block-header__title {
    font-size: clamp( 4rem , 4rem  +  0vw , 4rem );
  }
}
@supports not (font-size: clamp( 4rem , 4rem  +  0vw , 4rem )) {
  .block-header__title {
    font-size: calc(4rem + 0 * (100vw - 20rem) / 63.125);
  }
}
@supports (font-size: clamp( 5.625rem , 5.625rem  +  0vw , 5.625rem )) {
  .block-header_big .block-header__title {
    font-size: clamp( 5.625rem , 5.625rem  +  0vw , 5.625rem );
  }
}
@supports not (font-size: clamp( 5.625rem , 5.625rem  +  0vw , 5.625rem )) {
  .block-header_big .block-header__title {
    font-size: calc(5.625rem + 0 * (100vw - 20rem) / 63.125);
  }
}
.block-header_left {
  justify-items: stretch;
}
.block-header_left .block-header__sub-title {
  justify-items: stretch;
}

.scrool {
  font-weight: 700;
  color: #DCCA87;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: grid;
  justify-items: center;
  gap: 24px;
}
.scrool::before {
  content: "";
  width: 1px;
  height: 61px;
  background: linear-gradient(to bottom, rgb(220, 202, 135) 0%, rgb(220, 202, 135) 43%, rgba(220, 202, 135, 0.24) 92.71%);
}

[class*=__text] {
  line-height: 175%;
  letter-spacing: 0.04em;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header__logo, .button, .block-header, .scrool {
  font-family: "Cormorant Upright", sans-serif;
}

.header {
  padding: 10px 0px;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__column {
  flex-grow: 0;
  flex-shrink: 0;
}
@supports (flex-basis: clamp( 11.25rem , 1.0008896797rem  +  21.3523131673vw , 18.75rem )) {
  .header__column {
    flex-basis: clamp( 11.25rem , 1.0008896797rem  +  21.3523131673vw , 18.75rem );
  }
}
@supports not (flex-basis: clamp( 11.25rem , 1.0008896797rem  +  21.3523131673vw , 18.75rem )) {
  .header__column {
    flex-basis: calc(11.25rem + 7.5 * (100vw - 48rem) / 35.125);
  }
}
@media (max-width: 48em) {
  .header__column {
    flex-basis: inherit;
  }
}
.header__column_wide {
  flex: 1 1 auto;
}
.header__column_auth {
  align-self: stretch;
}
.header__container {
  align-items: center;
  min-height: 121px;
  display: flex;
  position: relative;
  gap: 10px;
}
@supports (min-height: clamp( 3.125rem , 1.7190594059rem  +  7.0297029703vw , 7.5625rem )) {
  .header__container {
    min-height: clamp( 3.125rem , 1.7190594059rem  +  7.0297029703vw , 7.5625rem );
  }
}
@supports not (min-height: clamp( 3.125rem , 1.7190594059rem  +  7.0297029703vw , 7.5625rem )) {
  .header__container {
    min-height: calc(3.125rem + 4.4375 * (100vw - 20rem) / 63.125);
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    gap: 25px;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@supports (font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem )) {
  .header__logo {
    font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem );
  }
}
@supports not (font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem )) {
  .header__logo {
    font-size: calc(2.1875rem + 0.5625 * (100vw - 48rem) / 35.125);
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    background-color: #0c0c0c;
    padding-bottom: 1.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  @supports (padding-top: clamp( 6.25rem , 4.8638613861rem  +  6.9306930693vw , 10.625rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 4.8638613861rem  +  6.9306930693vw , 10.625rem );
    }
  }
  @supports not (padding-top: clamp( 6.25rem , 4.8638613861rem  +  6.9306930693vw , 10.625rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 4.375 * (100vw - 20rem) / 63.125);
    }
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    transition: top 0.3s ease 0s;
    background-color: #000;
  }
  @supports (height: clamp( 4.375rem , 2.9690594059rem  +  7.0297029703vw , 8.8125rem )) {
    .menu__body::before {
      height: clamp( 4.375rem , 2.9690594059rem  +  7.0297029703vw , 8.8125rem );
    }
  }
  @supports not (height: clamp( 4.375rem , 2.9690594059rem  +  7.0297029703vw , 8.8125rem )) {
    .menu__body::before {
      height: calc(4.375rem + 4.4375 * (100vw - 20rem) / 63.125);
    }
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    top: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}
@supports (column-gap: clamp( 0.9375rem , -5.8506944444rem  +  9.4444444444vw , 2rem )) {
  .menu__list {
    column-gap: clamp( 0.9375rem , -5.8506944444rem  +  9.4444444444vw , 2rem );
  }
}
@supports not (column-gap: clamp( 0.9375rem , -5.8506944444rem  +  9.4444444444vw , 2rem )) {
  .menu__list {
    column-gap: calc(0.9375rem + 1.0625 * (100vw - 71.875rem) / 11.25);
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
  }
  .menu__list:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.menu__link {
  line-height: 175%;
  letter-spacing: 0.04em;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #DCCA87;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.875rem;
  }
}

.auth-header {
  height: 100%;
  align-self: stretch;
  display: flex;
  row-gap: 5px;
  justify-content: center;
}
@supports (column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem )) {
  .auth-header {
    column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem );
  }
}
@supports not (column-gap: clamp( 1.25rem , -10.7291666667rem  +  16.6666666667vw , 3.125rem )) {
  .auth-header {
    column-gap: calc(1.25rem + 1.875 * (100vw - 71.875rem) / 11.25);
  }
}
@media (max-width: 71.875em) {
  .auth-header {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (min-width: 71.875em) {
  .auth-header {
    padding: 22px 0px;
    justify-content: flex-end;
  }
}
@media (max-width: 29.99875em) {
  .auth-header {
    align-items: center;
    justify-content: flex-start;
  }
}
.auth-header__item {
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 71.875em) {
  .auth-header__item:not(:last-child)::before {
    content: "";
    background: radial-gradient(50% 50% at 100% 50%, #FFFFFF 58.85%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    position: absolute;
    width: 1px;
    height: 100%;
  }
  @supports (right: clamp( -1.4375rem , 4.5659722222rem  +  -7.2222222222vw , -0.625rem )) {
    .auth-header__item:not(:last-child)::before {
      right: clamp( -1.4375rem , 4.5659722222rem  +  -7.2222222222vw , -0.625rem );
    }
  }
  @supports not (right: clamp( -1.4375rem , 4.5659722222rem  +  -7.2222222222vw , -0.625rem )) {
    .auth-header__item:not(:last-child)::before {
      right: calc(-0.625rem + -0.8125 * (100vw - 71.875rem) / 11.25);
    }
  }
}
.auth-header__link {
  text-align: center;
  line-height: 140%;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .auth-header__link:hover {
    color: #DCCA87;
  }
}
@media (max-width: 29.99875em) {
  .auth-header__link {
    font-size: 1.5625rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 40px;
    height: 1.40625rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  position: relative;
  z-index: 2;
}

.main-slider {
  background-color: #0c0b08;
  display: flex;
}
@supports (padding-top: clamp( 7.1875rem , 5.8013613861rem  +  6.9306930693vw , 11.5625rem )) {
  .main-slider {
    padding-top: clamp( 7.1875rem , 5.8013613861rem  +  6.9306930693vw , 11.5625rem );
  }
}
@supports not (padding-top: clamp( 7.1875rem , 5.8013613861rem  +  6.9306930693vw , 11.5625rem )) {
  .main-slider {
    padding-top: calc(7.1875rem + 4.375 * (100vw - 20rem) / 63.125);
  }
}
@supports (padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem )) {
  .main-slider {
    padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem );
  }
}
@supports not (padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem )) {
  .main-slider {
    padding-bottom: calc(4.375rem + 0 * (100vw - 20rem) / 63.125);
  }
}
.main-slider__container_wide {
  flex: 1 1 auto;
  position: relative;
}
.main-slider__scrool {
  position: absolute;
  bottom: 0;
  right: 0.9375rem;
}

.body-main-slider {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.body-main-slider__swiper {
  flex: 1 1 auto;
  align-items: center;
}
.body-main-slider__slide {
  height: 100%;
}
.body-main-slider__controll {
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (padding-top: clamp( 5.5rem , 5.5rem  +  0vw , 5.5rem )) {
  .body-main-slider__controll {
    padding-top: clamp( 5.5rem , 5.5rem  +  0vw , 5.5rem );
  }
}
@supports not (padding-top: clamp( 5.5rem , 5.5rem  +  0vw , 5.5rem )) {
  .body-main-slider__controll {
    padding-top: calc(5.5rem + 0 * (100vw - 20rem) / 63.125);
  }
}

.slide-main-slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px 0 0 0;
  opacity: 0 !important;
  pointer-events: none;
}
.slide-main-slider.swiper-slide-active {
  opacity: 1 !important;
  pointer-events: auto;
}
.slide-main-slider__content {
  padding-right: 40px;
  align-self: center;
  display: grid;
  gap: 32px;
  max-width: 31.25rem;
  justify-items: start;
}
.slide-main-slider__image-ibg {
  position: relative;
  margin-right: 3.8461538462%;
  max-height: 736px;
  height: 100%;
  align-self: center;
}
.slide-main-slider__image-ibg::before, .slide-main-slider__image-ibg::after {
  content: "";
  position: absolute;
  background-color: #DCCA87;
  width: 70.2746365105%;
  height: 63.226744186%;
  transition: transform 0.3s ease 0s;
}
.slide-main-slider__image-ibg::before {
  top: 0;
  right: 0;
  transform: translate(25px, -25px);
}
.slide-main-slider__image-ibg::after {
  bottom: 0;
  left: 0;
  transform: translate(-25px, 25px);
}
.slide-main-slider__image-ibg img {
  transition: transform 0.3s ease 0s;
  z-index: 2;
}
@media (any-hover: hover) {
  .slide-main-slider__image-ibg:hover::before {
    transform: translate(30px, -30px);
  }
  .slide-main-slider__image-ibg:hover::after {
    transform: translate(-30px, 30px);
  }
  .slide-main-slider__image-ibg:hover img {
    transform: scale(1.03);
  }
}

.menu-main-slider {
  position: absolute;
  top: 0;
  left: 0.9375rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.menu-main-slider__link {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #fff;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}
@media (any-hover: hover) {
  .menu-main-slider__link:hover {
    color: #DCCA87;
  }
}
.menu-main-slider__link_current {
  color: #DCCA87;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
